/* BODY */
@font-face {
    font-family: Avenir;
    src: url('font/AvenirLTStd-Roman.otf');
}

body{
    font-family:Avenir; 
}
/* BLOCK 1 */
.navbar-brand{
    padding: 30%;
}
.nav {
    padding-top: 1%;
    color: white;
}
.item-menu{
    justify-content: space-between;
}
button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 5% 5%;
    transition-duration: 0.4s;
    letter-spacing: 2px;
}
button:hover {
    border: 1px solid white;
    border-radius: 50px;
}


.block1{
    width: 100%;
    height: 100%;
    color: white;
}

.texteImage{
    margin-top: -35%;

}
.texteImage2{
    margin-left: 5%;
    font-size: 30px;
}
h1{
font-size: 50px;
margin-left: 5%;
letter-spacing: 0.02em; 
}
.buttons{
    margin-left: 5%;
}
.button1{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    padding: 1%;
    transition-duration: 0.4s;
    letter-spacing: 2px;
}
.button1:hover {
    background-color: white;
    color: blue;
}

/* BLOCK 2 */

.titreBlock2{
  margin-top: 18%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 40px;      
}

.text2{
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.titres{
  border-right: 1px solid orange;
  padding: 5%;
}

.titres2{
  padding: 5%;
}
h3{
  font-size: 20px;
}

footer{
  height: 20%;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
