/* BODY */
@font-face {
    font-family: Avenir;
    src: url('font/AvenirLTStd-Roman.otf');
}

body{
    font-family:Avenir; 
}
/* BLOCK 1 */
.navbar-brand{
    padding: 30%;
}
.nav {
    padding-top: 1%;
    color: white;
}
.item-menu{
    justify-content: space-between;
}
button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 5% 5%;
    transition-duration: 0.4s;
    letter-spacing: 2px;
}
button:hover {
    border: 1px solid white;
    border-radius: 50px;
}


.block1{
    width: 100%;
    height: 100%;
    color: white;
}

.texteImage{
    margin-top: -35%;

}
.texteImage2{
    margin-left: 5%;
    font-size: 30px;
}
h1{
font-size: 50px;
margin-left: 5%;
letter-spacing: 0.02em; 
}
.buttons{
    margin-left: 5%;
}
.button1{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    padding: 1%;
    transition-duration: 0.4s;
    letter-spacing: 2px;
}
.button1:hover {
    background-color: white;
    color: blue;
}

/* BLOCK 2 */

.titreBlock2{
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
}

#wrapper{
    max-width:100%;
    padding:50px 75px 50px 45px;
    position:relative;
    margin-top: 
  }
  
  button:focus {outline:0 !important;}
  
  .left-controls{
    
    position:absolute;
    top:0;
    left:0;
    width:4%;
    height:1000px;
    z-index:40;
    background:#fff;
    opacity:1;
    cursor:pointer;
    text-align:center;
    webkit justify content: center;
    justify-content:center;
    display: webkit box;
    display: webkit flex;
    display: moz box;
    display:ms flexbox;
    display:flex;
    color:#fff;
  
  }
  
  .fa-chevron-left-extra
  {
    align-self:center;
    position:relative;
    height:auto;
    top:-250px;
    transform-origin: 55% 50%;
    font-style:normal;
    font-weight:400;
    line-height:1;
    font-variant:normal;
    text-transform:none;
    font-size:2.5vw;
    transition:transform .1s ease-out 0s;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color:blue;
    opacity:.1;
  }
  
  
  .right-controls{
    position:absolute;
    top:0;
    right:0;
    width:4%;
    height:1000px;
    z-index:40;
    background:#fff;
    opacity:1;
    cursor:pointer;
    text-align:center;
    webkit justify content: center;
    justify-content:center;
    display: webkit box;
    display: webkit flex;
    display: moz box;
    display:ms flexbox;
    display:flex;
    color:#fff;
  }
  
  .fa-chevron-right-extra
  {
    align-self:center;
    position:relative;
    height:auto;
    top:-250px;
   transform-origin: 55% 50%;
    font-style:normal;
    font-weight:400;
    line-height:1;
    font-variant:normal;
    text-transform:none;
    font-size:2.5vw;
    transition:transform .1s ease-out 0s;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color:blue;
    opacity:.1;
  }
  
  .title{
    color:#eee;
  }
  
  .module-section{
    width: 100%;
    overflow: hidden;
    overflow-x:scroll;
    
  }
  
  ul{
  width:600em;
  list-style-type:none;
  padding:50px 0 50px 0;
  
  
  
  }
  
  #content{
    position:relative;
  }
  .card{
    width: 25em;
    height:350px;
    background:#fff;
    float:left;
    margin-right:10px;
    margin-bottom:50px;
    cursor:pointer;
    transform: scale(1);
    visibility:visible;
    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;
    
  }
  
  .card:hover{
    cursor:pointer;
    transform: scale(1);
    visibility:visible;
    transition: all .2s ease-in-out;
    transform: scale(1.1); 
    z-index:100;
    position:relative;
    transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration:400ms;
   
    
  }
  
   .inside-top{
    width:100%;
    height:150px;
    background:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
  }
  
  
  
  .clearfix {
    overflow: auto;
    zoom: 1;
  }

  .text2{
      width: 80%;
      margin-left: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
  }
  .titres{
      border-right: 1px solid orange;
      padding: 5%;
  }
  .titres2{
    padding: 5%;
}